/* *{
    box-sizing: border-box;
}
header{
    height: 0vh;
}
.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    line-height: 54px;
    font-weight: bolder;
    color: white;
}
@media(max-width: 500px){
    header{
        height: 30vh;
    }
    .heading{
        font-size: 35px;
        width: 100%;
        padding: 0 30px;
    }

}
@media(max-width: 800px){
    header{
        height: 50vh;
    }

} */