*{
    box-sizing: border-box;
}
header{
    height: 70vh;
}

@media(max-width: 880px){
    header{
        height: 50vh;
    }

}
@media(max-width: 639px){
    header{
        height: 35vh;
    }
    
}

